# Libraries

In [1]:
import pandas as pd
from datetime import datetime

In [2]:
class CricketAppBackend:
    def __init__(self):
        # Initialize all DataFrames based on the predefined structure
        self.dismissals = pd.DataFrame(columns=['dismissal_type'])
        self.teams = pd.DataFrame(columns=['team_id', 'team_name', 'player_name'])
        self.runs = pd.DataFrame(columns=['ball_id', 'match_id', 'over', 'ball_number', 'runs'])
        self.matches = pd.DataFrame(columns=['match_id', 'match_type_id', 'ground_id', 'home_team_id', 'away_team_id', 'official_id', 'date', 'status'])
        self.scores = pd.DataFrame(columns=['score_id', 'match_id', 'team_id', 'runs', 'wickets', 'overs_faced'])
        self.stats = pd.DataFrame(columns=['match_id', 'team_id', 'stat_type', 'value'])
        self.dls_calculation = pd.DataFrame(columns=['match_id', 'par_score', 'target_score', 'overs_remaining', 'resources_available'])
        self.transferred_matches = pd.DataFrame(columns=['match_id', 'transferred_from', 'transferred_to'])

    def add_dismissal_type(self, dismissal_type):
        new_dismissal = pd.DataFrame({'dismissal_type': [dismissal_type]})
        self.dismissals = pd.concat([self.dismissals, new_dismissal], ignore_index=True)

    def add_team(self, team_id, team_name, players):
        for player in players:
            new_team = pd.DataFrame({
                'team_id': [team_id],
                'team_name': [team_name],
                'player_name': [player]
            })
            self.teams = pd.concat([self.teams, new_team], ignore_index=True)

    def log_run(self, ball_id, match_id, over, ball_number, runs):
        new_run = pd.DataFrame({
            'ball_id': [ball_id],
            'match_id': [match_id],
            'over': [over],
            'ball_number': [ball_number],
            'runs': [runs]
        })
        self.runs = pd.concat([self.runs, new_run], ignore_index=True)

    def create_match(self, match_id, match_type_id, ground_id, home_team_id, away_team_id, official_id, status='Scheduled'):
        new_match = pd.DataFrame({
            'match_id': [match_id],
            'match_type_id': [match_type_id],
            'ground_id': [ground_id],
            'home_team_id': [home_team_id],
            'away_team_id': [away_team_id],
            'official_id': [official_id],
            'date': [datetime.now().strftime('%Y-%m-%d')],
            'status': [status]
        })
        self.matches = pd.concat([self.matches, new_match], ignore_index=True)

    def update_score(self, score_id, match_id, team_id, runs, wickets, overs_faced):
        new_score = pd.DataFrame({
            'score_id': [score_id],
            'match_id': [match_id],
            'team_id': [team_id],
            'runs': [runs],
            'wickets': [wickets],
            'overs_faced': [overs_faced]
        })
        self.scores = pd.concat([self.scores, new_score], ignore_index=True)

    def calculate_dls(self, match_id, par_score, target_score, overs_remaining, resources_available):
        dls_data = pd.DataFrame({
            'match_id': [match_id],
            'par_score': [par_score],
            'target_score': [target_score],
            'overs_remaining': [overs_remaining],
            'resources_available': [resources_available]
        })
        self.dls_calculation = pd.concat([self.dls_calculation, dls_data], ignore_index=True)

    def transfer_match(self, match_id, transferred_from, transferred_to):
        transfer_data = pd.DataFrame({
            'match_id': [match_id],
            'transferred_from': [transferred_from],
            'transferred_to': [transferred_to]
        })
        self.transferred_matches = pd.concat([self.transferred_matches, transfer_data], ignore_index=True)

    def get_match_info(self, match_id):
        return self.matches[self.matches['match_id'] == match_id]

    def get_all_matches(self):
        return self.matches

    def get_score(self, match_id):
        return self.scores[self.scores['match_id'] == match_id]

    def get_all_scores(self):
        return self.scores

    def get_team_players(self, team_id):
        return self.teams[self.teams['team_id'] == team_id]

    def get_dismissal_types(self):
        return self.dismissals

In [3]:
# Example of using the backend system
backend = CricketAppBackend()

In [4]:
# Manually adding dismissal types
dismissal_types = ['LBW', 'caught behind', 'caught', 'run out', 'stumped', 'hit wicket']
for dismissal in dismissal_types:
    backend.add_dismissal_type(dismissal)

In [5]:
# Manually adding teams
team_1_players = ['Player 1', 'Player 2', 'Player 3', 'Player 4', 'Player 5']
backend.add_team(1, 'Team 1', team_1_players)

In [6]:
team_2_players = ['Player A', 'Player B', 'Player C', 'Player D', 'Player E']
backend.add_team(2, 'Team 2', team_2_players)

In [7]:
# Logging a run
backend.log_run(1, 1, 1, 1, 4)

In [8]:
# Creating a match
backend.create_match(1, 1, 1, 1, 2, 1)

In [9]:
# Updating score
backend.update_score(1, 1, 1, 250, 10, 50)

In [10]:
# Calculating DLS
backend.calculate_dls(1, 200, 220, 10, 75.0)

C:\Users\faiza\AppData\Local\Temp\ipykernel_18864\1170668491.py:68: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  self.dls_calculation = pd.concat([self.dls_calculation, dls_data], ignore_index=True)

In [11]:
# Transferring match
backend.transfer_match(1, 'Device A', 'Device B')

In [12]:
# Retrieving match info
backend.get_match_info(1)

,match_id,match_type_id,ground_id,home_team_id,away_team_id,official_id,date,status
0,1,1,1,1,2,1,2024-08-23,Scheduled

In [13]:
# Retrieving all matches
backend.get_all_matches()

,match_id,match_type_id,ground_id,home_team_id,away_team_id,official_id,date,status
0,1,1,1,1,2,1,2024-08-23,Scheduled

In [14]:
# Retrieving all scores
backend.get_all_scores()

  score_id match_id team_id runs wickets overs_faced
0        1        1       1  250      10          50

In [15]:
# Retrieving team players
backend.get_team_players(1)

  team_id team_name player_name
0       1    Team 1    Player 1
1       1    Team 1    Player 2
2       1    Team 1    Player 3
3       1    Team 1    Player 4
4       1    Team 1    Player 5

In [16]:
# Retrieving dismissal types
backend.get_dismissal_types()

  dismissal_type
0            LBW
1  caught behind
2         caught
3        run out
4        stumped
5     hit wicket

In [17]:
# Transferring match
backend.transfer_match(1, 'Device A', 'Device B')

In [18]:
# Retrieving match info
print(backend.get_match_info(1))

  match_id match_type_id ground_id home_team_id away_team_id official_id  \
0        1             1         1            1            2           1

         date     status
0  2024-08-23  Scheduled

In [19]:
# Retrieving all matches
print(backend.get_all_matches())

  match_id match_type_id ground_id home_team_id away_team_id official_id  \
0        1             1         1            1            2           1

         date     status
0  2024-08-23  Scheduled

In [20]:
# Retrieving all scores
print(backend.get_all_scores())

  score_id match_id team_id runs wickets overs_faced
0        1        1       1  250      10          50

In [21]:
# Retrieving team players
print(backend.get_team_players(1))

  team_id team_name player_name
0       1    Team 1    Player 1
1       1    Team 1    Player 2
2       1    Team 1    Player 3
3       1    Team 1    Player 4
4       1    Team 1    Player 5

In [22]:
# Retrieving dismissal types
print(backend.get_dismissal_types())

  dismissal_type
0            LBW
1  caught behind
2         caught
3        run out
4        stumped
5     hit wicket