# Libraries

In [1]:
import pandas as pd
from datetime import datetime

In [2]:
class CricketAppBackend:
    def __init__(self):
        # Initialize all DataFrames based on the spreadsheet structure
        self.dismissals = pd.DataFrame(columns=['dismissal_type'])
        self.teams = pd.DataFrame(columns=['team_id', 'team_name', 'player_name'])
        self.runs = pd.DataFrame(columns=['ball_id', 'match_id', 'over', 'ball_number', 'runs'])
        self.matches = pd.DataFrame(columns=['match_id', 'match_type_id', 'ground_id', 'home_team_id', 'away_team_id', 'official_id', 'date', 'status'])
        self.scores = pd.DataFrame(columns(['score_id', 'match_id', 'team_id', 'runs', 'wickets', 'overs_faced']))
        self.stats = pd.DataFrame(columns=['match_id', 'team_id', 'stat_type', 'value'])
        self.dls_calculation = pd.DataFrame(columns=['match_id', 'par_score', 'target_score', 'overs_remaining', 'resources_available'])
        self.transferred_matches = pd.DataFrame(columns=['match_id', 'transferred_from', 'transferred_to'])

    def add_dismissal_type(self, dismissal_type):
        new_dismissal = pd.DataFrame({'dismissal_type': [dismissal_type]})
        self.dismissals = pd.concat([self.dismissals, new_dismissal], ignore_index=True)

    def add_team(self, team_id, team_name, players):
        for player in players:
            new_team = pd.DataFrame({
                'team_id': [team_id],
                'team_name': [team_name],
                'player_name': [player]
            })
            self.teams = pd.concat([self.teams, new_team], ignore_index=True)

    def log_run(self, ball_id, match_id, over, ball_number, runs):
        new_run = pd.DataFrame({
            'ball_id': [ball_id],
            'match_id': [match_id],
            'over': [over],
            'ball_number': [ball_number],
            'runs': [runs]
        })
        self.runs = pd.concat([self.runs, new_run], ignore_index=True)

    def create_match(self, match_id, match_type_id, ground_id, home_team_id, away_team_id, official_id, status='Scheduled'):
        new_match = pd.DataFrame({
            'match_id': [match_id],
            'match_type_id': [match_type_id],
            'ground_id': [ground_id],
            'home_team_id': [home_team_id],
            'away_team_id': [away_team_id],
            'official_id': [official_id],
            'date': [datetime.now().strftime('%Y-%m-%d')],
            'status': [status]
        })
        self.matches = pd.concat([self.matches, new_match], ignore_index=True)

    def update_score(self, score_id, match_id, team_id, runs, wickets, overs_faced):
        new_score = pd.DataFrame({
            'score_id': [score_id],
            'match_id': [match_id],
            'team_id': [team_id],
            'runs': [runs],
            'wickets': [wickets],
            'overs_faced': [overs_faced]
        })
        self.scores = pd.concat([self.scores, new_score], ignore_index=True)

    def calculate_dls(self, match_id, par_score, target_score, overs_remaining, resources_available):
        dls_data = pd.DataFrame({
            'match_id': [match_id],
            'par_score': [par_score],
            'target_score': [target_score],
            'overs_remaining': [overs_remaining],
            'resources_available': [resources_available]
        })
        self.dls_calculation = pd.concat([self.dls_calculation, dls_data], ignore_index=True)

    def transfer_match(self, match_id, transferred_from, transferred_to):
        transfer_data = pd.DataFrame({
            'match_id': [match_id],
            'transferred_from': [transferred_from],
            'transferred_to': [transferred_to]
        })
        self.transferred_matches = pd.concat([self.transferred_matches, transfer_data], ignore_index=True)

    def get_match_info(self, match_id):
        return self.matches[self.matches['match_id'] == match_id]

    def get_all_matches(self):
        return self.matches

    def get_score(self, match_id):
        return self.scores[self.scores['match_id'] == match_id]

    def get_all_scores(self):
        return self.scores

    def get_team_players(self, team_id):
        return self.teams[self.teams['team_id'] == team_id]

    def get_dismissal_types(self):
        return self.dismissals

In [3]:
# Example of using the backend system
backend = CricketAppBackend()

In [ ]:
# Adding dismissal types
dismissal_types = {dismissal_df['bowled'].tolist()}
for dismissal in dismissal_types:
    backend.add_dismissal_type(dismissal)

In [ ]:
# Adding teams
team_1_players = team_df.iloc[:, 0].dropna().tolist()
backend.add_team(1, 'Team 1', team_1_players)

In [ ]:
team_2_players = team_df.iloc[:, 2].dropna().tolist()
backend.add_team(2, 'Team 2', team_2_players)

In [ ]:
# Logging a run
backend.log_run(1, 1, 1, 1, 4)

In [5]:
# Creating a match
backend.create_match(1, 1, 1, 1, 2, 1)

In [6]:
# Updating score
backend.update_score(1, 1, 1, 250, 10, 50)

   ground_id ground_name
0          1    Ground A
1          2    Ground B
2          3    Ground C

In [7]:
# Calculating DLS
backend.calculate_dls(1, 200, 220, 10, 75.0)

In [8]:
# Transferring match
backend.transfer_match(1, 'Device A', 'Device B')

   team_id team_name
0        1    Team A
1        2    Team B
2        3    Team C

In [9]:
# Retrieving match info
backend.get_match_info(1)

In [10]:
# Retrieving all matches
backend.get_all_matches()

   official_id official_name
0            1    Official A
1            2    Official B

In [11]:
# Retrieving all scores
backend.get_all_scores()

In [12]:
# Transferring match
backend.transfer_match(1, 'Device A', 'Device B')

,match_id,match_type_id,ground_id,home_team_id,away_team_id,official_id,date,status
0,1,1,1,1,2,1,2024-08-22,Finished
1,2,2,2,2,3,2,2024-08-23,Active

In [13]:
# Retrieving match info
print(backend.get_match_info(1))

In [14]:
# Retrieving all matches
print(backend.get_all_matches())

   score_id  match_id  team_id  runs  wickets  overs_faced
0         1         1        1   250       10           50
1         2         2        2   180        8           20

In [15]:
# Retrieving all scores
print(backend.get_all_scores())